---
import BaseLayout from "../../../../layouts/BaseLayout.astro";
import { getLangCountryStaticPaths } from "../../../../lib/seo/staticPaths";
import { getServicesByLangCountry } from "../../../../lib/airtable/pages";
import { getLangCountryCityStaticPaths } from "../../../../lib/seo/staticPathsCity";

export const getStaticPaths = getLangCountryCityStaticPaths;
const SITE = "https://programister.ru";


const { lang, country } = Astro.params;
const services = await getServicesByLangCountry({ lang, country });

const canonical = `${SITE}/${lang}/${country}/services/`;
---
<!-- разметка контакты -->
<BaseLayout>
    <p>Контакты</p>
</BaseLayout>