---
import { list } from "../../lib/airtable";

export const prerender = true;

export async function getStaticPaths() {
  const langs = await list("Lang");        // [{ id, slug }]
  const countries = await list("Countries"); // [{ id, slug }]

  return langs.flatMap((lang: any) =>
    countries
      .filter((c: any) => c?.slug)
      .map((country: any) => ({
        params: {
          lang: lang.slug,
          country: country.slug,
        },
      }))
  );
}

const { lang, country } = Astro.params;
---
<html>
  <body>
    <h1>Lang: {lang}</h1>
    <h1>Country: {country}</h1>
  </body>
</html>
